*.pyc
.idea/misc.xml
.idea/modules.xml
.idea/Sancus Testing.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.vs/ProjectSettings.json
.vscode/launch.json
.vscode/settings.json
test.py
sancus/data/anime.json
sancus/data/config.ini
discord.log
sancus/data/econ.json
sancus/data/botData.json
sancus/data/config.ini
TempRemoved.py
testing.py
sancus/data/users.ini
